# Renewable electricity and a future without fossil fuel
A future energy market without fossil fuel is a societal demand especially in the developed (i.e. rich) countries. Renewable electricity is a volatile energy resource. To control its fluctuation one needs to store it in large scale. Storage comes at a price, i.e. electricity loss. Here, I'm looking at the current electricity production of Denmark, assume a certain increase in capacity, and try to understand what needs to be done for energy storage before we can say goodbye to oil and gas forever.

In [8]:
import pandas as pd
import numpy as np
import scipy as scp
import matplotlib.pyplot as plt
import datetime as dt

In [17]:
# load the data file
file_name = 'electricitybalancenonv_8_31_2021.csv'
df = pd.read_csv(file_name)
df['HourDK'] = pd.to_datetime(df['HourDK'])
print('Data loaded successfully')

Data loaded successfully

In [7]:
df

,HourUTC,HourDK,PriceArea,TotalLoad,Biomass,FossilGas,FossilHardCoal,FossilOil,HydroPower,OtherRenewable,SolarPower,Waste,OnshoreWindPower,OffshoreWindPower,ExchangeContinent,ExchangeGreatBelt,ExchangeNordicCountries
0,2021-08-31T08:00:00+00:00,2021-08-31T10:00:00,DK2,1713.02,357.67,49.20,62.69,12.65,NaN,NaN,248.63,43.38,72.74,232.39,372.0,284.0,0.0
1,2021-08-31T08:00:00+00:00,2021-08-31T10:00:00,DK1,3038.90,30.38,215.49,628.39,12.20,1.0,1.80,527.81,96.73,80.13,127.53,222.0,-284.0,1384.0
2,2021-08-31T07:00:00+00:00,2021-08-31T09:00:00,DK1,2988.66,30.87,209.16,687.34,14.41,1.0,1.95,321.67,95.58,79.93,137.12,304.0,-217.0,1327.0
3,2021-08-31T07:00:00+00:00,2021-08-31T09:00:00,DK2,1694.22,371.29,57.04,65.63,13.22,NaN,NaN,176.95,35.67,60.84,317.95,325.0,217.0,71.0
4,2021-08-31T06:00:00+00:00,2021-08-31T08:00:00,DK2,1640.60,508.45,106.77,88.27,26.56,NaN,NaN,97.04,52.25,60.49,347.90,276.0,-176.0,273.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81655,2017-01-01T01:00:00+00:00,2017-01-01T02:00:00,DK1,NaN,306.00,88.00,225.00,4.00,2.0,5.00,NaN,96.00,NaN,NaN,NaN,NaN,NaN
81656,2017-01-01T00:00:00+00:00,2017-01-01T01:00:00,DK1,NaN,293.00,88.00,209.00,2.00,2.0,5.00,NaN,96.00,NaN,NaN,NaN,NaN,NaN
81657,2017-01-01T00:00:00+00:00,2017-01-01T01:00:00,DK2,NaN,299.00,15.00,205.00,11.00,NaN,NaN,NaN,81.00,NaN,NaN,NaN,NaN,NaN
81658,2016-12-31T23:00:00+00:00,2017-01-01T00:00:00,DK2,NaN,288.00,16.00,228.00,11.00,NaN,NaN,NaN,80.00,NaN,NaN,NaN,NaN,NaN
81659,2016-12-31T23:00:00+00:00,2017-01-01T00:00:00,DK1,NaN,293.00,83.00,261.00,2.00,2.0,5.00,NaN,81.00,NaN,NaN,NaN,NaN,NaN

In [24]:
# date_begin = dt.datetime.strptime('2020-10-01', '%Y-%m-%d')
date_begin = pd.to_datetime('2020-10-01')
# date_end = DateTime('2021-01-30')
# d_long = df[date_begin .<= df.HourDK .<= date_end, :]
# d_long.HourDK .+= Dates.Year(30)

In [25]:
df.HourDK[1], date_begin

(Timestamp('2021-08-31 10:00:00'), Timestamp('2020-10-01 00:00:00'))